@media screen and ( max-width:767px ) {

    header .h_inner{
        width: 100%;
        height: 60px;
        justify-content: center;
        position: relative;
    }
    .cover{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        left: 0;
        top: 0;    
        z-index: 98;
        display: none;
    }
    header .h_inner h1{
        text-align: center;
    }
    header .h_inner .gnb{
        display: none;
    
    }
    /* 모바일 버튼 */
    header .h_inner .m_btn{
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
    }
    header .h_inner .m_gnb{
        width: 250px;
        height: 100%;
        background: #fff;
        display: block;
        position: fixed;
        left: -250px;
        top: 0;
        z-index: 99;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
       
    }
    header .h_inner .m_gnb img{
        width: 100%;
    }
    header .h_inner .m_gnb .m_menu{
        margin-top: -3px;
    }
    
    header .h_inner .m_gnb .m_menu li{
        height: 40px;
        border-bottom: 1px solid #e2e2e2;
    }
    header .h_inner .m_gnb .m_menu li a{
        display: block;
        width: 100%;
        height: 100%;
        color: #777;
        font-size: 14px;
        line-height: 40px;
        text-indent: 27px;
        background: url(../images/m_menu_bg.png)no-repeat 10px center;
    }
    header .h_inner .m_gnb .m_menu li h3{
        background: #ff8b97;
        line-height: 40px;
        text-indent: 10px;
        color: #fff;
    }

    /* main */
    /* search */
    main .search .s_inner{
        width: 100%;
        height: 120px;
        padding: 5px 10px ;
    }

    main .search .s_inner h2{
        float: none;
        clear: both;
        margin-top: 5px;
    }
    main .search .s_inner .school_Wrap{
        float: none;
        clear: both;
        margin-left: 0;
    }
    main .search .s_inner .area_wrap select{
        width: 180px;
        height: 30px;
    }
    main .search .s_inner .school_Wrap input{
        width: 250px;
        height: 30px;
    }
    main .search .s_inner .school_Wrap .search_Store button{
        padding: 0 26px;
        height: 31px;
    }
  

    /* 모바일 슬라이드 */
    main .visual .slick-dots li{
        display: block;
        margin-right: 10px;
    }
    main .visual .slick-dots li:last-child{
        margin-right: 0;
    }
    main .visual .slick-dots{
        position: absolute;
        left: 50%;
        bottom: 15px;
        transform: translateX(-50%);
        display: flex;
    }
    main .visual .slick-dots li button{
        width: 18px;
        height: 18px;
        background: url(../images/main_dots.png)no-repeat;
        text-indent: -9999px;
    }
    main .visual .slick-dots .slick-active button{
        background: url(../images/main_dots_1.png)no-repeat;
    }
    main .visual img{
        width: 100%;        
    }
    /* section1 */
    main .section1{
        width: 100%;
        margin-top: 5px;
    }
    main .section1 .box{
        width: 100%;
        margin-top: 40px;
    }
    main .section1 .box p{
        display: none;
    }
    /* section2 */
    main .section2{
        width: 100%;
        margin-top: 50px;
        padding: 10px;
        box-sizing: border-box;
    }
    main section h2 img{
        width: 110px;
    }
    main .section2 .model_list li{
        width: 50%;
        margin-top: 15px;
    }
    /* section3 */
    main .section3{
        width: 100%;
        margin-top: 50px;
    }
    main .section3 h2 img{
        width: 170px;
    }
    main .section3 p{
        display: none;
    }
    main .section3 .event{
        width: 100%;
        float: none;
        margin-top: 15px;
    }
    main .section3 .event img{
        width: 100%;
    }
    main .section3 .video{
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    /* section4 */
    main .section4{
        margin-top: 20px;
    }
    main .section4 h2{
        float: none;
        width: 100%;
        height: 46px;
        text-align: left;
    }
    main .section4 h2 img{
        width: 190px;
    }
    main .section4 .sns_list{
        float: none;
        padding-left: 30px;
        box-sizing: border-box;
    }
    main .section4 .sns_list li{
        width: 33.333%;
        padding: 3% 0;
        box-sizing: border-box;
    }
    /* footer */
    footer .ft_inner{
        width: 100%;
        height: 176px;
        text-align: center;
    }
    footer .ft_inner .info{
        justify-content: center;
    }
   
    footer .ft_inner ul.info .hidden{
        display: none;
    }
    footer .ft_inner address .show{
        display: block;
    }
    footer .ft_inner p.copy{
        font-size: 11px;
    }
    footer .inner .btn_top{
        display: none;
    }
 


    


}